<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Guestbook: ListMsg</title>
        <style>
            table,
            th,
            td {
                border: 1px solid black;
            }
            tr:nth-child(even) {
                background-color: #d6eeee;
            }
        </style>
    </head>
    <script src="functions.js">
        window.onload = function () {
            loadMsg('storage') }
    </script>
    <body onload="loadMsg('storage')">
        <h1>商場</h1>
        <hr />
        <table id="guestbook" style="width: 200px"></table>
        <button onclick="loadMsg('storage');">REFRESH</button>
        <br />
        <a href="shopping_car.html"> 查看我的購物車 </a>
        <hr />
        <br />
        <h4>購買</h4>
        <form>
            輸入商品名稱: <input type="text" id="i" name="j" /> <br />
            輸入購買數量: <input type="text" id="j" name="i" />
            <input type="button" value="加入購物車" onclick="add_to_car('i','j')" />
        </form>
        <div id="warning"></div>
    </body>
</html>
